@import url('https://fonts.googleapis.com/css2?family=Lato');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(71, 71, 71);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

.section__form
{
    margin-top: 100px;
    margin-bottom: auto;
}

.shape
{
    max-width: 700px;
    border-radius: 15px;
    background-color: #fff;
    display: block;
    margin: auto;
}

.row
{
    max-width: 675px;
    margin: 0 auto 0 auto;
}

p
{
    text-align: center;
    max-width: 500px;
    padding: 0 25px 35px 25px;
}

h1
{
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    color: rgb(59, 59, 59);
    text-align: center;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

    margin-top: -70px;
    margin-bottom: 35px;
}

/*------FORM------*/

.contact-form
{
    width: 80%;
    margin: auto;
}

form
{
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type=text],
input[type=email],
select,
textarea
{
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type=submit]
{
    cursor: pointer;
}

input,
textarea
{
    margin-bottom: 10px;
}

textarea
{
    height: 100px;
    resize: vertical;
}

*:focus
{
    outline: none;
}

.shape .form__name
{
    display: flex;
}

.form__name
{
    margin-bottom: 10px;
}

.form__name input[id=f-name]
{
    margin: 0px 5px 0px 0px;
}

.form__name input[id=l-name]
{
    margin: 0px 0px 0px 5px;
}

input:focus-within,
input:hover,
textarea:focus-within,
textarea:hover
{
    box-shadow: 1px 1px 1px 1px #dcdcdc;
}

input[type=submit]
{
    padding: 10px 30px;
    border-radius: 15px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #2298e6;
    border: 1px solid #2298e6;
    color: #fff;
    
    display: block;
    margin: 10px 0 0 auto;
}

input[type=submit]:hover,
input[type=submit]:active
{
    background-color: #1976b4;
}

::placeholder
{
    color: rgb(126, 126, 126);
}